.header {
    max-width: 100%;
    background-color: #FFFFFF;
    display: block;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
    
    button {
        cursor: pointer;
    }

    nav {
        height: 60px;
        padding: 0px 50px 0 50px; 
        display: flex;
        justify-content: space-between;
        align-items: center;
    }    
}

.scroll {
    overflow: hidden;
}


.header__logo {
    h1 {
        font-style: normal;
        font-weight: 900;
        font-size: 34px;
        line-height: 51px;

        margin: 0;
        padding: 0;
        min-height: 10em;
        display: table-cell;
        vertical-align: middle;
        color: black;
    }    
}


.header__navigation li a {
    margin-left: 43px;
    font-size: 13px;
    text-decoration: none;

    font-style: normal;
    font-weight: 900;
    font-size: 13px;
    line-height: 16px;
    letter-spacing: 0.541667px;
    text-transform: uppercase;
    color: black;
    transition: color 0.25s;
    position: relative;
}

.header__navigation {
    li {
        display: inline;
        &:hover {
            display: inline;            
        }
        a:hover {
            color: rgb(45, 45, 181);    
            
            &::before {
                content: "";
                position: absolute;
                top: 18px;
                left: 0px;
                width: 100%;
                height: 2.5px;
                background-color:black;

                animation-duration: 0.65s;
                animation-name: emphasize;                
            }
        }
    }    
} 


.header__navigation_menu {
    overflow: hidden;
    position: relative;
    width: 25px;
    height: 25px;
    background: transparent;
    border: none;
    display: none;

    span {
        position: absolute;
        width: 25px;
        height: 2px;
    
        top: 2px;
        left: 1px;
        background-color: black;
        z-index: 200;

        &:last-child {
            top: 9px;
            left: 1px;            
        }
        &:first-child {
            top: 16px;
            left: 1px;
        }
    }
}

@media screen and (max-width: 900px) {
    .header__navigation li {
        display: block;
        text-align: center;
    }
    .header__navigation li a {
        font-size: 50px;
        display: none;
        word-break: break-word;
        line-height: normal;
    }
    .header__navigation_menu {
        display: inline !important;
    }
}