.HomePage_info {
    margin-top: 25px;
    padding: 0 25px;
}

.HomePage_info_content {
    display: block;
}

.title_content {
    font-size: 35px;

    span {
        color:rgb(243, 237, 200);
    }
}

.Subtitle_content {
    font-size: 23px;
}

.text_content {
    font-size: 20px;
}