.Error_404 {
    padding-top: 4rem;
    padding: 100px;
    text-align: center;      
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.178);

    .Err_Title {
        color: white;
        font-size: 150px;

        text-shadow: 6px 0 1px rgb(187, 180, 83), 
        0 1px 1px #000, 
        -1px 0 1px #000, 
        0 -1px 1px #000;
 
    }

    .Err_text {
        margin: 0 auto;     
        max-width: 500px;
        word-wrap: break-word;
    }
}